* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 62.5%;
  font-family: "Courier New", Courier, monospace;
  background-color: #034159;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 19px;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
