.login--container h1 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.title--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}

.title--container p{
  font-size: 1.8rem;
  text-align: center;
  color: white;
  margin: 30px 0px;
}

.title--container img {
  width: 100px;
  margin: 20px 0px;
}

.login-form {
  min-width: 310px;
  display: flex;
  flex-direction: column;
}

.login-form button {
  height: 40px;
  margin: 14px;
  padding: auto 0px;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: #0bc04a;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0bc54c;
}

input {
  width: 300px;
  height: 30px;
  padding: 23px 20px;
  margin: 14px;
  color: white;
  background-color: #0d698d;
  border: none;
  border-radius: 14px;
}

::placeholder {
  color: white;
}

.remenber-register--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.remenber-register--container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}

.remenber-register--container div input {
  width: auto;
  margin: 0px 5px;
}

.remenber-register--container div label {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
}

.remenber-register--container a {
  font-size: 1.4rem;
  color: #0cb447;
}
