.chat-list {
  background-color: #034159;
  color: white;
  width: 30%;
}

.chat-list--searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.chat-list--searcher input {
  width: 80%;
  height: 30px;
}

.chat-list--searcher button {
  width: 40px;
  height: 30px;
  margin: 0px 5px;
}

.chat-list--container {
  height: 92vh;
  overflow-y: scroll;
}
.chat-message {
  height: 90px;
  width: 100%;
  padding: 10px;
  margin: 8px 0px;
  font-size: 1.4rem;
}

.modal {
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.modal .modal-close--button {
  align-self: flex-end;
  display: block;
  font-size: 1.6rem;
  padding: 5px 10px;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.modal form label {
  font-size: 1.8rem;
}

.modal form input {
  width: 100%;
  margin: 20px 0px;
}

.modal form button {
  align-self: flex-end;
  font-size: 1.6rem;
  padding: 5px 10px;
}
